footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #47e27b;
    color: #fff;
    text-align: center;
    line-height: 60px;
    padding: 20px 0;
}